<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado usuarios</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Control de Usuarios</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">Control
						de Usuarios </a></li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<h1>Lista Usuarios</h1>
		</div>
		<div class="row mb-3">
			<a th:href="@{/usuarios/nuevo}" class="btn btn-primary">Crear
				Usuario</a>
			<table class="table table-dark">
				<thead>
					<tr>
						<th scope="col">Foto perfil</th>
						<th scope="col">Nombre</th>
						<th scope="col">Email</th>
						<th scope="col">Biografía</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <td><img th:src="@{/uploads/{avatar_url}(avatar_url=${usuario.avatar_url})}"
                            class="img-thumbnail" width="100" height="100"></td>
                        <td th:text="${usuario.nombre}">Nombre</td>
                        <td th:text="${usuario.correo}">Email</td>
                        <td th:text="${usuario.biografia}">Biografía</td>
                        <td>
                            <a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}"
                                class="btn btn-warning">Editar</a> <a
                                th:href="@{/usuarios/borrar/{id}(id=${usuario.id})}"
                                class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
			</table>
		</div>
		<form th:action="@{/logout}" method="post" class="form-inline my-2 my-lg-0">
		    <button type="submit" class="btn btn-outline-light ml-2">Cerrar Sesión</button>
		</form>
</body>
</html>